.main_header {
    padding-bottom: 50px;
    margin-bottom: 44px;
}
.name_user {
    margin-right: 23px;
}
.link_login {
    opacity: 30%;
}
.block_navigation {
    width: 1040px;
    margin: auto;
    margin-top: 0;
    outline: 1px solid red;
}
.header_block_navigation {
    margin-top: 0;
}
.tree_navigation {
    display: flex;
}
.branch_navigation {
    font-size: 14px;
    opacity: 30%;
    margin-right: 20px;
}
.choose_devices {
    display: grid;
    grid-template-columns: auto 300px 860px auto;
    grid-template-rows: 170px auto;
    outline: 1px solid purple;
}
.filter::before {
    grid-column: 1/2;
    grid-row:1/2;
}
.filter {
    grid-column: 2/3;
    grid-row: 1/2;
}
.soorting_paremeter {
    grid-column: 3/4;
    grid-row: 1/2;
}
.devices_preview {
    grid-column: 3/4;
    grid-row: 2/3;
}
.soorting_paremeter::after {
    grid-column: 4/5;
    grid-row: 1/2;
}


