* {
    box-sizing: border-box;
}

.filter_caption,
.button_number,
.page_button {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    font-family: Gilroy;
    letter-spacing: 0.2em;
}

.main_header {
    padding-bottom: 50px;
    margin-bottom: 44px;
}

.name_user {
    margin-right: 23px;
}

.link_login {
    opacity: 30%;
}

.block_navigation {
    width: 1040px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 50px;
}

.header_block_navigation {
    margin-top: 0;
    margin-bottom: 35px;
}

.tree_navigation {
    display: flex;
}

.branch_navigation {
    font-size: 14px;
    opacity: 30%;
    margin-right: 20px;
}

.choose_devices {
    display: grid;
    grid-template-columns: auto 325px 835px auto;
    background-color: rgba(235, 235, 235, 0.5);
}

.choose_wrapper_left {
    width: 325px;
    margin-left: auto;
    padding-left: 60px;
}

.choose_wrapper_right {
    width: 835px;
    margin-right: auto;
    padding-left: 72px;
}

.filter,
.filter_parameters {
    grid-column: 1/3;
}

.sorting_parameters,
.devices_display {
    grid-column: 3/5;
}

.filter {
    min-height: 70px;
    background-color: rgba(219, 219, 219, 1);
}

.devices_display {
    min-height: 500px;
    padding-top: 69px;
    padding-bottom: 73px;
    background-color: white;
}

.filter_head,
.sorting_parameters_block,
.choose_sorting_parameters {
    display: flex;
    align-items: center;
    min-height: 70px;
}

.choose_sorting_parameters {
    margin-left: 55px;
    margin-right: auto;
}

.sorting_button {
    border: none;
    font-size: 14px;
    outline: none;
    padding: 0;
    margin-right: 29px;
    background-color: rgba(235, 235, 235, 0);
}

.sorting_button:hover {
    opacity: 60%;
}

.sorting_button:active {
    opacity: 100%;
}

.sort_cost {
    border: none;
    background-color: none;
}

.sort_type,
.sort_popular {
    opacity: 30%;

}

.sorting_arrows {
    border: none;
    outline: none;
    padding: 0;
    background-color: rgba(235, 235, 235, 0);
    margin-left: 19px;
}

.sorting_arrows:hover {
    opacity: 40%;
}

.sorting_arrows:active {
    opacity: 100%;
}

.filter_cost,
.filter_color,
.filter_bluetooth {
    width: 201px;
    border-top: 2px solid #000;
    padding-top: 15px;
}

.filter_cost {
    margin-top: 69px;
    /* temporarily*/
    padding-bottom: 100px;
}

.choose_color {
    font-size: 14px;
}

.color_name {
    margin-bottom: 15px;
}

.filter_bluetooth {
    border-bottom: none;
    margin-bottom: 50px;
}

.devices_pages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.display_box {
    width: 360px;
}

.device_subscription {
    display: flex;
    justify-content: space-between;
    margin-top: 37px;
    margin-bottom: 45px;
}

.devices_price {
    font-size: 16px;
    font-weight: lighter;
    color: rgb(70, 70, 70);
}

.device_name {
    display: block;
    width: 254px;
}

.page_selection {
    display: flex;
    align-items: center;
    width: 760px;
    background-color: rgba(235, 235, 235, 0.5);
}

.page_button,
.button_number {
    border: none;
    outline: none;
    padding: 0;
    background-color: rgba(235, 235, 235, 0);

}

.button_back {
    margin-right: auto;
    padding: 30px;
}

.button_next {
    margin-left: auto;
    padding: 30px;
}

.button_back:hover,
.button_next:hover {
    background-color: rgba(217, 217, 217, 1);
}

.button_back:active,
.button_next:active {
    color: rgba(0, 0, 0, 0.3);

}

.pick_number {
    display: flex;
}

.button_number {
    margin-right: 32px;
}
.button_number:hover {
    opacity: 60%;
}
.button_number:active {
    opacity: 100%;
}
.page_2,
.page_3 {
    opacity: 30%;
}

.page_3 {
    margin: 0;
}
