/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.preview_block {
  width: 1160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 118px;
  position: relative;
}

.preview_block::before {
  content: '';
  position: absolute;
  display: block;
  width: 100px;
  height: 7px;
  background-color: white;
  top: -73px;
  right: 459px;
}

.preview_block::after {
  content: '01';
  position: absolute;
  font-family: GilroyExtraBold;
  font-size: 179.2px;
  font-weight: bold;
  color: white;
  top: -48px;
  right: 48px;
}

.preview_img,
.description {
  width: 580px;
}
.description {
  padding-left: 20px;
}

.preview_img {
  position: relative;
}

.preview_img img {
  position: absolute;
  top: -111px;
  left: 90px;
}

.description_slogan {
  display: block;
  margin-top: -30px;
  line-height: 55px;
  width: 392px;
}

.description_control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
  margin-top: 48px;
  margin-bottom: 58px;
}

.description_text {
  display: block;
  width: 500px;
  padding: 0;
}

.description_link {
  margin-right: auto;
  width: 220px;
}

.descriptoin_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.preview_radio_block {
  padding-left: 15px;
}

.preview_radio_block input[type='radio'] {
  display: none;
}

.preview_radio_block label {
  position: relative;
  cursor: pointer;
  margin-left: 21px;
}

.preview_radio_block label::before {
  position: absolute;
  content: '';
  width: 12px;
  height: 12px;
  left: -15px;
  bottom: 4px;
  background: url('../img/slider-button-empty.png') 0 0 no-repeat;
  -webkit-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}

.preview_radio:checked~label::before {
  background: url('../img/slider-button.png') 0 0 no-repeat;
}

.characteristics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.characteristics li {
  margin-right: 81px;
}

.characteristics li p {
  margin: 0;
}

.characteristic_value {
  font-size: 36px;
  font-family: Gilroy;
}

.characteristic_text {
  font-size: 13px;
  line-height: 33px;
}

.devices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 169px;
}

.devices_boxes {
  width: 160px;
}

.devices_link {
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.device_picture {
  width: 160px;
  height: 160px;
  background-color: rgb(247, 226, 150);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
  -webkit-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.devices li:nth-child(2) .device_picture {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.device_picture img {
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.devices_link:hover .device_picture {
  background-color: rgb(240, 197, 46);
}

.devices_link:active .device_picture img {
  opacity: 30%;
}

.devices_link:active {
  color: rgba(0, 0, 0, 0.3);
}

.services_background {
  width: 100%;
  background-color: rgb(229, 229, 229);
  margin-bottom: 94px;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.services_buttons {
  border-right: 7px solid black;
  margin-top: -102px;
  padding-top: 80px;
  padding-bottom: 47px;
  margin-right: 116px;
  margin-bottom: 69px;
}

.services_buttons input[type='radio'] {
  display: none;
}

.service_button_label {
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  width: 160px;
  margin-right: 117px;
  margin-bottom: 24px;
  z-index: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url('../img/background_work_link.png') 0 0 no-repeat;
  background-size: 100% 8px;
  background-position-y: center;
  -webkit-transition-property: color, background-size;
  -o-transition-property: color, background-size;
  transition-property: color, background-size;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.service_button_label::after {
  content: '';
  position: absolute;
  display: inline-block;
  height: 40px;
  background-color: black;
  width: 0;
  z-index: -1;
  left: 0;
  -webkit-transition: width 0.5s;
  -o-transition: width 0.5s;
  transition: width 0.5s;
}

.service_button_label:hover {
  background-size: 100% 100%;
}

.service_choose_button:checked+.service_button_label {
  color: rgb(247, 225, 132);
}

.service_choose_button:checked~.service_button_label::after {
  width: 278px;
}

.services_delivery {
  width: 850px;
  margin-top: -20px;
  position: relative;
}

.heading_delivery {
  padding: 0;
  margin-top: 0;
}

.delivery_text {
  display: block;
  width: 440px;
}

.services_delivery img {
  position: absolute;
  top: 0px;
  left: 555px;
}

.companies {
  margin-bottom: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.companies_boxes {
  width: 260px;
  height: 100px;
  -webkit-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}

.dji {
  background: url('../img/dji.png') 0 0 no-repeat;
}

.dji:hover {
  background: url('../img/dji_color.png') 0 0 no-repeat;
}

.spGadget {
  background: url('../img/spGadget.png') 0 0 no-repeat;
}

.spGadget:hover {
  background: url('../img/spGadget_color.png') 0 0 no-repeat;
}

.gopro {
  background: url('../img/gopro.png') 0 0 no-repeat;
}

.gopro:hover {
  background: url('../img/gopro_color.png') 0 0 no-repeat;
}

.vive {
  background: url('../img/vive.png') 0 0 no-repeat;
}

.vive:hover {
  background: url('../img/vive_color.png') 0 0 no-repeat;
}

.store_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about_us,
.contacts {
  width: 560px;
  padding-top: 59px;
  padding-bottom: 82px;
  position: relative;
}

.about_us::before,
.contacts::before {
  content: '';
  position: absolute;
  display: block;
  width: 80px;
  height: 7px;
  background-color: black;
  top: 0;
}

.about_us .heading,
.contacts .heading {
  margin-top: 0;
  margin-bottom: 52px;
}

.about_us_info {
  display: block;
  width: 490px;
}
.about_us_info,
.contacts_info {
  margin-bottom: 30px;
}

.trans_company {
  padding-left: 35px;
  padding-top: 22px;
  font-size: 16px;
  font-weight: bold;
  font-family: GilroyExtraBold;
  margin-top: 50px;
  list-style: none;
}

.trans_company li {
  margin-bottom: 10px;
  position: relative;
}

.trans_company li::before {
  content: "";
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  top: 11px;
  left: -35px;
  background-image: url(../img/slider_button_trans_company.png);
}

.trans_company li:last-child {
  margin-bottom: 0px;
}

.contacts img {
  margin-top: 10px;
}

.info_link {
  margin-top: 59px;
  width: 260px;
}
