body {
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: auto 320px 840px auto;
  background-color: rgba(197, 197, 197, 0.5);
}

.grid-wrapper-left {
  width: 320px;
  margin-left: auto;
}

.grid-wrapper-right {
  width: 840px;
  margin-right: auto;
}

.header,
.filter {
  grid-column: 1 / 3;
}

.sort,
.content {
  grid-column: 3 / 5;
}

.header {
  min-height: 100px;
  background-color: rgba(197, 197, 197, 1);
}

.content {
  min-height: 600px;
  background-color: white;
}
