body {
    margin: 0;
}

header {
  display: flex;
  min-height: 50px;
  /* (840 + 320) / 2 - 320 = 260  */
  background: linear-gradient(to right, rgba(197, 197, 197, 1) calc(50% - 260px), rgba(197, 197, 197, 0.5) calc(50% - 260px));
}

main {
  display: flex;
  min-height: 600px;
  background: linear-gradient(to right, rgba(197, 197, 197, 0.5) calc(50% - 260px), white calc(50% - 260px));
}

.left {
  width: 320px;
  margin-left: auto;
}

.right {
  width: 840px;
  margin-right: auto;
}
